@inherits ItemListBase<Book>

@page "/book/{BookId:long?}"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>Book</PageTitle>
<NavigationLock OnBeforeInternalNavigation="OnLocationChangingAsync" />

@if (DataSet.IsUnavailable) {
    <MudAlert Severity="Severity.Error" Elevation="3">Unable to connect to any of the specified database management hosts.</MudAlert>
} else if (DataSet.IsReady && Book is null) {
    <MudText>No book selected or found.</MudText>
    <MudButton Class="ma-3" OnClick="@(() => NavigationManager.NavigateTo ($"{NavigationManager.BaseUri}"))" StartIcon="@Icons.Material.Filled.LibraryBooks" Variant="Variant.Filled">go home</MudButton>
} else if (!DataSet.IsReady || items is null || Book is null) {
    <MudProgressCircular Indeterminate="true" />
} else if (items.Count > 0) {
    <MudSimpleTable Elevation="0" Dense Striped Bordered>
        <thead>
            <tr>
                <th style="width: 10em;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@(Book.Label[nameof(Book.Id)])</td>
                <td>
                    <MudStack Row Spacing="1" Class="align-center">
                        <MudText Typo="Typo.inherit">@Book.Id</MudText>
                        <MudSpacer />
                        @if (Book.PublishedAt is not null) {
                            <MudChip T="string" Variant="Variant.Outlined">
                                @(Book.Label [nameof (Book.PublishedAt)]): @(Book.PublishedAt.Value.ToString ("yyyy/MM/dd HH:mm"))
                                <MudIconButton OnClick="@(async () => await ConfirmUnPublishBookAsync ())" Icon="@Icons.Material.Filled.Close" Size="Size.Small" />
                            </MudChip>
                        }
                        <MudChip T="string" Variant="Variant.Outlined">@(Book.Label [nameof (Book.LastUpdate)]): @(Book.LastUpdate.ToString ("yyyy/MM/dd HH:mm"))</MudChip>
                        <MudSpacer />
                        <MudText>
                            <MudTooltip Arrow Duration="1000" Text="@(Book.Label [nameof (Book.Site)])">
                                <MudText Typo="Typo.inherit">@Book.Site</MudText>
                            </MudTooltip>
                            <span> : </span>
                            @if (Book.Released) {
                                <MudTooltip Arrow Duration="1000" Text="@(Book.Label [nameof (Book.NumberOfPublished)])">
                                    <MudText Color="@(Book.NumberOfPublished < Book.NumberOfRelatedSheets && Book.NumberOfPublished < Book.NumberOfSheets ? Color.Warning : Color.Inherit)">@(Book.NumberOfPublished)</MudText>
                                </MudTooltip>
                                <span> / </span>
                            }
                            <MudTooltip Arrow Duration="1000" Text="@(Book.Label [nameof (Book.NumberOfRelatedSheets)])">
                                <MudText Color="@(Book.NumberOfRelatedSheets < Book.NumberOfSheets ? Color.Warning : Color.Inherit)">@(Book.NumberOfRelatedSheets)</MudText>
                            </MudTooltip>
                            <span> / </span>
                            <MudTooltip Arrow Duration="1000" Text="@(Book.Label [nameof (Book.NumberOfSheets)])">@(Book.NumberOfSheets)</MudTooltip>
                        </MudText>
                    </MudStack>
                </td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.SeriesTitle)])</td>
                <td>@Book.SeriesTitle</td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Title)])</td>
                <td>@Book.Title</td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Author)])</td>
                <td>@Book.Author</td>
            </tr>
            <tr>
                <td>
                    <MudStack Row Spacing="1" Class="align-center">
                        @(Book.Label [nameof (Book.Url1)])
                        <MudSpacer />
                        <MudIconButton Disabled="@(IsInvalidUri (Book.Url1))" OnClick="@(async () => await JSRuntime.OpenUrl (Book.Url1))" Icon="@Icons.Material.Filled.Link" />
                    </MudStack>
                </td>
                <td><MudTextField T="string" @bind-Value="Book.Url1" /></td>
            </tr>
            <tr>
                <td>
                    <MudStack Row Spacing="1" Class="align-center">
                        @(Book.Label [nameof (Book.Url2)])
                        <MudSpacer />
                        <MudIconButton Disabled="@(IsInvalidUri (Book.Url2))" OnClick="@(async () => await JSRuntime.OpenUrl (Book.Url2))" Icon="@Icons.Material.Filled.Link" />
                    </MudStack>
                </td>
                <td><MudTextField T="string" @bind-Value="Book.Url2" /></td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.LastUpdate)])</td>
                <td>@(Book.LastUpdate.ToString ("yyyy/MM/dd HH:mm"))</td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Readed)])</td>
                <td>
                    <MudStack Row Spacing="1" Class="align-center">
                        <MudCheckBox @bind-Value="Book.Readed" />
                        <MudTextField Placeholder="@(Book.Label [nameof (Book.ReadedMemo)])" T="string" @bind-Value="Book.ReadedMemo" />
                    </MudStack>
                </td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Wish)])</td>
                <td>
                    <MudStack Row Spacing="1" Class="align-center">
                        <MudCheckBox @bind-Value="Book.Wish" />
                        <MudSpacer />
                    </MudStack>
                </td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Errata)])</td>
                <td><MudTextField T="string" Placeholder="@($"error1{Book.Separator}correct1{Book.Terminator}error2{Book.Separator}correct2{Book.Terminator}  :")" @bind-Value="Book.Errata" Lines="10" /></td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Remarks)])</td>
                <td><MudTextField T="string" @bind-Value="Book.Remarks" Lines="10" /></td>
            </tr>
            <tr>
                <td>@(Book.Label [nameof (Book.Html)])</td>
                <td><MudTextField Disabled="true" T="string" @bind-Value="Book._html" Lines="10" /></td>
            </tr>
        </tbody>
    </MudSimpleTable>
    <MudStack Row Class="mt-5 justify-center">
        <MudTooltip Arrow="true" Text="@($"{(Book.IsEmpty ? "取得" : "更新")} (+ctrlで書誌のみ)")">
            <MudIconButton Disabled="!IsNotDirty" OnClick="async () => await ConfirmUpdateBookAsync ()" Color="Color.Primary" Icon="@Icons.Material.Filled.Download" Variant="Variant.Outlined" Size="Size.Large" />
        </MudTooltip>
        <MudTooltip Arrow="true" Text="発行">
            <MudIconButton Disabled="Book.IsEmpty || Book.Released || !IsNotDirty" OnClick="ConfirmPublishBookAsync" Color="Color.Tertiary" Icon="@Icons.Material.Filled.Publish" Variant="Variant.Outlined" Size="Size.Large" />
        </MudTooltip>
        <MudSpacer />
        <MudTooltip Arrow="true" Text="復旧">
            <MudIconButton Disabled="IsNotDirty" OnClick="async () => { if (await ConfirmCancelEditAsync ()) StartEdit (); }" Color="Color.Error" Icon="@Icons.Material.Filled.ReplayCircleFilled" Variant="Variant.Outlined" Size="Size.Large" />
        </MudTooltip>
        <MudTooltip Arrow="true" Text="保存">
            <MudIconButton Disabled="IsNotDirty" OnClick="() => { if (editingItem is not null) { Commit (editingItem); StartEdit (); } }" Color="Color.Success" Icon="@Icons.Material.Filled.Save" Variant="Variant.Outlined" Size="Size.Large" />
        </MudTooltip>
        <MudSpacer />
        <MudTooltip Arrow="true" Text="削除">
            <MudIconButton OnClick="DeleteBook" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Size="Size.Large" />
        </MudTooltip>
    </MudStack>
} else if (Book.IsDirectContent) {
    <MudText>Direct content found.</MudText>
} else {
    <MudText>No items found.</MudText>
}

@code {
    /// <summary>指定された書籍</summary>
    [Parameter] public long? BookId { get; set; } = null;

    /// <inheritdoc/>
    protected override int _initialPageSizeIndex => 1;

    /// <summary>着目中の書籍</summary>
    protected Book? Book { get; set; } = null;

    /// <summary>無効なURI</summary>
    protected bool IsInvalidUri (string? url) => !Uri.IsWellFormedUriString (url, UriKind.Absolute);

    /// <summary>編集されていない</summary>
    protected bool IsNotDirty => editingItem is null || backupedItem is null || editingItem.Equals (backupedItem);

    /// <summary>編集開始</summary>
    protected void StartEdit () {
        if (editingItem is null && Book is not null) {
            editingItem = Book;
            backupedItem = Book.Clone ();
        }
    }

    /// <summary>編集内容破棄の確認</summary>
    protected async Task<bool> ConfirmCancelEditAsync () {
        if (editingItem is not null && !IsNotDirty) {
            var dialogResult = await DialogService.Confirmation ([$"編集内容が破棄されます。",], title: "編集破棄", position: DialogPosition.BottomCenter, acceptionLabel: "破棄", acceptionColor: Color.Error, acceptionIcon: Icons.Material.Filled.Delete);
            if (dialogResult != null && !dialogResult.Canceled && dialogResult.Data is bool ok && ok) {
                Cancel (editingItem);
                Snackbar.Add ("編集内容を破棄しました。", Severity.Normal);
            } else {
                return false;
            }
        }
        return true;
    }

    /// <summary>書籍の削除 (ホームへ遷移)</summary>
    protected async Task DeleteBook () {
        if (Book is not null) {
            var dialogResult = await DialogService.Confirmation ([$"以下の{Book.TableLabel}を完全に削除します。", Book.ToString ()], title: $"{Book.TableLabel}削除", position: DialogPosition.BottomCenter, acceptionLabel: "Delete", acceptionColor: Color.Error, acceptionIcon: Icons.Material.Filled.Delete);
            if (dialogResult != null && !dialogResult.Canceled && dialogResult.Data is bool ok && ok) {
                var result = await DataSet.RemoveAsync (Book);
                if (result.IsSuccess) {
                    StateHasChanged ();
                    Snackbar.Add ($"{Book.TableLabel}を削除しました。", Severity.Normal);
                    NavigationManager.NavigateTo (NavigationManager.BaseUri);
                } else {
                    Snackbar.Add ($"{Book.TableLabel}を削除できませんでした。", Severity.Error);
                }
            }
        }
    }

    /// <summary>取得と更新の確認</summary>
    protected async Task<bool> ConfirmUpdateBookAsync () {
        if (Book is not null && IsNotDirty) {
            var operation = Book.IsEmpty ? "取得" : "更新";
            var withSheets = !(await JSRuntime.InvokeAsync<ModifierKeys> ("getModifierKeys")).Ctrl;
            var dialogResult = await DialogService.Confirmation ([$"{Book.TableLabel}『{Book.Title}』を{Book.Site}から{operation}します。", withSheets ? "書誌とページの全てを更新します。" : "書誌のみを更新し、ページは更新しません。"], title: $"{Book.TableLabel}{operation}", position: DialogPosition.BottomCenter, acceptionLabel: operation, acceptionColor: Color.Success, acceptionIcon: Icons.Material.Filled.Download);
            if (dialogResult != null && !dialogResult.Canceled && dialogResult.Data is bool ok && ok) {
                Snackbar.Add ($"{Book.TableLabel}の{operation}を開始します。", Severity.Normal);
                await UpdateBookAsync (Book, operation, withSheets);
            } else {
                return false;
            }
        }
        return true;
    }

        /// <summary>モディファイアキー</summary>
    public class ModifierKeys {
        public bool Ctrl { get; set; }
        public bool Alt { get; set; }
        public bool Shift { get; set; }
    }

    /// <summary>発行の確認</summary>
    protected async Task<bool> ConfirmPublishBookAsync () {
        if (Book is not null && IsNotDirty) {
            var dialogResult = await DialogService.Confirmation ([$"{Book.TableLabel}『{Book.MainTitle}.epub』を<{DataSet.Setting.SmtpMailto}>へ発行します。",], title: $"{Book.TableLabel}発行", position: DialogPosition.BottomCenter, acceptionLabel: "発行", acceptionColor: Color.Success, acceptionIcon: Icons.Material.Filled.Download);
            if (dialogResult != null && !dialogResult.Canceled && dialogResult.Data is bool ok && ok) {
                Snackbar.Add ($"{Book.TableLabel}の発行を開始します。", Severity.Normal);
                await PublishBookAsync (Book);
            } else {
                return false;
            }
        }
        return true;
    }

    /// <summary>発行抹消の確認</summary>
    protected async Task<bool> ConfirmUnPublishBookAsync () {
        if (Book is not null && Book.Released && IsNotDirty) {
            var dialogResult = await DialogService.Confirmation ([$"{Book.TableLabel}の発行記録を抹消します。","抹消後、別途保存が必要です。"], title: $"発行抹消", position: DialogPosition.BottomCenter, acceptionLabel: "抹消", acceptionColor: Color.Success, acceptionIcon: Icons.Material.Filled.Download);
            if (dialogResult != null && !dialogResult.Canceled && dialogResult.Data is bool ok && ok) {
                Book.NumberOfPublished = null;
                Book.PublishedAt = null;
                Snackbar.Add ($"{Book.TableLabel}の発行記録を抹消しました。", Severity.Normal);
            } else {
                return false;
            }
        }
        return true;
    }

    /// <summary>取得・更新</summary>
    protected async Task UpdateBookAsync (Book book, string operation, bool withSheets) {
        if (book is not null) {
            var result = new Result<int> { Status = Status.Success, };
            if (result.IsSuccess) {
                Snackbar.Add ($"{Book.TableLabel}を{operation}しました。", Severity.Normal);
            } else {
                Snackbar.Add ($"{Book.TableLabel}の{operation}に失敗しました。", Severity.Error);
            }
        }
    }

    /// <summary>発行</summary>
    protected async Task PublishBookAsync (Book book) {
        if (book is not null) {
            var result = new Result<int> { Status = Status.Success, };
            if (result.IsSuccess) {
                Snackbar.Add ($"{Book.TableLabel}を発行しました。", Severity.Normal);
            } else {
                Snackbar.Add ($"{Book.TableLabel}の発行に失敗しました。", Severity.Error);
            }
        }
    }

    /// <summary>ページ遷移時の処理</summary>
    protected async Task OnLocationChangingAsync (LocationChangingContext context) {
        if (context.IsNavigationIntercepted && !await ConfirmCancelEditAsync ()) {
            context.PreventNavigation ();
        }
    }

    /// <summary>最初に着目書籍を切り替えてDataSetの再初期化を促す</summary>
    protected override async Task OnInitializedAsync() {
        // Uriパラメータを優先して着目書籍を特定する
        var currentBookId = BookId ?? CurrentBookId;
        if (currentBookId != CurrentBookId) {
            // パラメータによって着目書籍が変更されたら、レイアウトとナビに渡す
            await SetCurrentBookId.InvokeAsync ((currentBookId, CurrentSheetIndex));
        }
        // リロード開始 (CurrentBookIdが変化していなければ何もしない)
        var reload = DataSet.SetCurrentBookIdAsync (currentBookId);
        await base.OnInitializedAsync ();
        // リロード完了待機
        await reload;
        // 着目書籍オブジェクトを取得
        Book = DataSet.Books.Find (s => s.Id == currentBookId);
        await SetSectionTitle.InvokeAsync (Book is null ? "Publish" : $"<span style=\"font-size:80%;\">『{Book?.Title ?? ""}』 {Book?.Author ?? ""}</span>");
        StartEdit ();
    }
}