@inherits ItemListBase<Sheet>

@page "/sheet/{BookId:long?}/{SheetIndex:int?}"

@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Sheet</PageTitle>

@if (DataSet.IsUnavailable) {
    <MudAlert Severity="Severity.Error" Elevation="3">Unable to connect to any of the specified database management hosts.</MudAlert>
} else if (!DataSet.IsReady || items is null || Book is null) {
    <MudProgressCircular Indeterminate="true" />
} else if (items.Count > 0) {
    if (Book is not null) {
        SheetIndex ??= 1;
        if (Sheet is not null) {
            <NumberNavigationBar Number="@(SheetIndex.Value)" Min="1" Max="@(items.Count)" OnChangeNumber="OnChageSheetAsync" />
            <MudPaper Elevation="0">
                <MudText Class="mt-2 mb-4"><h2>@(Sheet?.SheetTitle)</h2></MudText>
                @((MarkupString) Sheet.SheetHonbun)
            </MudPaper>
            <NumberNavigationBar Number="@(SheetIndex.Value)" Min="1" Max="@(items.Count)" OnChangeNumber="OnChageSheetAsync" />
            <MudScrollToTop TopOffset="1000">
                <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
            </MudScrollToTop>
        } else {
            <MudText>No page found.</MudText>
        }
    } else {
        <MudText>No books found.</MudText>
    }
} else if (Book.IsDirectContent) {
    @((MarkupString) (Book.DirectContent ?? ""))
} else {
    <MudText>No items found.</MudText>
}

@code {
    /// <summary>指定された書籍</summary>
    [Parameter] public long? BookId { get; set; } = null;
    /// <summary>ページ</summary>
    [Parameter] public int? SheetIndex { get; set; } = null;

    /// <summary>着目中の書籍</summary>
    protected Book? Book { get; set; } = null;

    /// <summary>着目中のシート</summary>
    protected Sheet? Sheet { get; set; } = null;

    /// <summary>最初に着目書籍を切り替えてDataSetの再初期化を促す</summary>
    protected override async Task OnInitializedAsync() {
        DataSet.CurrentBookId = BookId ?? CurrentBookId;
        if (BookId is not null && BookId != CurrentBookId) {
            await SetCurrentBookId.InvokeAsync (BookId.Value);
        }
        await base.OnInitializedAsync ();
    }

    /// <summary>遅延初期化で署名や章名を表示</summary>
    protected override async Task OnAfterRenderAsync (bool firstRender) {
        await base.OnAfterRenderAsync (firstRender);
        if (firstRender && CurrentBookId > 0) {
            Book = DataSet.Books.Find (s => s.Id == CurrentBookId);
            if (firstRender && items?.Count > 0 && Book is not null) {
                await SetSheet (SheetIndex ?? 1);
            }
            StateHasChanged ();
        }
    }

    /// <summary>シート番号に依存した設定</summary>
    protected async Task SetSheet (int index) {
        // ルート(`@page`)が一致するため、アドレスバーが書き換わり、パラメータ`SheetIndex`に`index`が代入されるが、ページの遷移は生じない
        NavigationManager.NavigateTo ($"{NavigationManager.BaseUri}sheet/{Book!.Id}/{index}");
        Sheet = items! [index - 1];
        await SetSectionTitle.InvokeAsync ($"<span style=\"font-size:80%;\">『{Book!.Title}』 {Book!.Author}</span>\n{Sheet!.OriginalChapterTitle} {Sheet!.ChapterSubTitle}");
    }

    /// <summary>シート変更</summary>
    protected async Task OnChageSheetAsync (int index) {
        if (items?.Count > 0 && Book is not null && index > 0 && index <= items?.Count && SheetIndex != index) {
            await SetSheet (index);
            // ページトップへスクロール
            await JsRuntime.InvokeVoidAsync ("scrollToTop");
            StateHasChanged ();
        }
    }
}